@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

/* CONTENT */
#content {
	position: absolute;
	width: 100%;
	transition: .3s ease;
}
#logo{
	width: 100px;
    height: auto;
}
/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
	color: var(--dark);
}

#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}

#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}

#content nav .nav-link:hover {
	color: var(--blue);
}

#navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

hr{
	height: 1px;
	width: 100%;
	color: var(--grey);
}
#pages{
	display: flex;
	background: var(--light);
	justify-content:space-between;
	padding: 10px 10%;
}

#pages .pages-item{
	display: flex;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
}

#pages a {
	font-family: var(--lato);
	color: #060714;
	padding: 5px 4px;
	font-weight: 100;
	border-radius: 10px;
	transition: .5s;
}

#pages .pages-item a:hover{
	cursor: pointer;
	font-size: 17px;
	font-weight: 900;
	color: #FFFF;
	background-color:var(--blue);	
}

.profile-sub-menu-wrap {
	position: absolute;
	top: 100%;
	right: 1%;
	width: 320px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s;
  }
  
  .profile-sub-menu-wrap.open-menu{
	max-height: 400px;
  }
  
  .profile-sub-menu {
	background: #ffff;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
  }
  
  .profile-sub-menu,
  .user-info {
	display: flex;
	flex-direction: column;
  }
  
  .user-info a {
	margin-bottom: 12px;
  }
  
  .user-image{
	display: flex;
	align-items: center;
  }
  
  .user-info img {
	width: 45px;
	height: 45px;
	margin-right: 15px;
	object-fit: cover;
	border-radius: 50%;
  }
  
  .profile-sub-menu hr {
	border: 0;
	height: 1px;
	width: 100%;
	background: #cccc;
	margin: 15px 0 10px;
  }
  
  .sub-menu-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #525252;
	margin: 12px 0;
  }
  
  .sub-menu-link p {
	width: 100%;
	margin: 0;
  }
  
  .sub-menu-link img {
	width: 40px;
	height: 40px;
	background: #e5e5e5;
	padding: 8px;
	margin-right: 15px;
	border-radius: 50%;
  }
  
  .sub-menu-link span {
	font-size: 22px;
	transition: transform 0.5s;
  }
  
  .sub-menu-link:hover span{
	transform: translateX(5px);  
  }
  
  .sub-menu-link:hover p{
	font-weight: 600;
  }

#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}


/* NAVBAR-END*/

/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}

#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}

#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}

#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}

#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}

#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}

#content main .box-info li .text p {
	color: var(--dark);	
}


@media screen and (min-width: 798px) {

	#content {
		width:45%;
		margin: 1% 25%;
		/* left: 200px; */
	}

	#content nav .nav-link {
		display: none;
	}
}

@media screen and (max-width: 798px) {

	#content {
		width:100%;
		margin: 1% 1%;
		/* left: 200px; */

	}

	#content nav .nav-link {
		display: none;
	}
}

@media screen and (max-width: 798px) {
	/* #content nav  {
		display: none;
	}

	#content nav  button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav  {
		display: block;
		width: 100%;
	}
	#content nav  button {
		width: 100%;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	} */

	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 798px) {
	/* #content nav  {
		display: none;
	}

	#content nav  button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav  {
		display: block;
		width: 100%;
	}
	#content nav  button {
		width: 100%;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	} */

	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}
}